<div class="pt-1">
    <div class="card border border-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col-6 ml-auto mr-auto m-sm-0 col-sm-3 container text-center">
                    <img alt="search" width="200px" height="200px" class="img-fluid"
                        src="../../../assets/images/images-pages/computer.jpg">
                </div>
                <!-- Card presentacion -->
                <div class="col-sm-9 p-2">
                    <div class="null">
                        <br>
                        <h2 class="mb-1 text-center">{{ user.nombre }} haz una pregunta a la
                            comunidad.</h2>
                        <p class="mb-2 text-center">
                            <span>
                                No te qudes con la duda, haz tu pregunta dando click en el boton de abajo y recibiras
                                ayuda de una comunidad de expertos u otros estudiantes conocedores en el tema.
                            </span>
                        </p>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary p-2 m-2" data-toggle="modal"
                                data-target="#questionModal">
                                Preguntar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="estado_consulta==='P'">
    <div class="text-center">
        <br>
        <br>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</div>

<!-- Listado de publicaciones -->
<div class="card border-primary border rounded mt-2" *ngIf="estado_consulta==='C'">
    <div class="card-header p-2"> Mi actividad
        <div class="float-right"><button type="button" class="btn btn-sm font-weight-bold btn-primary m-0" data-bs-toggle="tooltip" data-bs-placement="left" title="Actualizar registros" (click)="actualizarRegistros()"><strong><span><i class="bi bi-arrow-clockwise"></i></span></strong></button></div>
    </div>
    <div class="card-body">
        <div class="table-responsive-sm" *ngIf="listaPublicaciones.length > 0">
            <table class="table table-sm table-hover align-middle">
                <thead class="bg-primary text-white">
                    <tr class="align-middle">
                        <th class="border">Fecha</th>
                        <th class="border">Tema</th>
                        <th class="border">Estado</th>
                    </tr>
                </thead>
                <tbody class="border border-primary table-bordered">
                    <tr class="p-0" *ngFor="let publicacion of listaPublicaciones; let i=index"
                        (click)="printData(publicacion)" style="cursor:pointer; cursor: hand">

                        <td class="col-2">
                            <p class="font-weight-light m-0"><small>{{ publicacion.creado | date :'dd/MM/yyyy'}}</small></p>
                            <!-- Fecha Publicación -->
                        </td>
                        <td class="col-7">
                            <p class="font-weight-normal m-0"><strong>{{ publicacion.titulo }}</strong></p>
                            <p class="font-weight-light m-0"><small>{{ publicacion.descripcion }}</small></p>

                        </td>
                        <td class="col-3 font-weight-light m-2"
                            [ngClass]="publicacion.estado === 'P' ? 'text-info' : (publicacion.estado === 'C' ? 'text-success' : 'text-danger')">

                            <p class="m-0">
                                {{ publicacion.estado === 'P' ? 'Pendiente' : (publicacion.estado === 'C' ?
                                'Completado' : 'Desconocido') }}</p>
                        </td>
                        <!-- <th scope="row">
                        Acciones (Delete, edit)
                    </th> -->

                </tbody>
            </table>



        </div>
    </div>

    <div class=""
        style="height: 100px; justify-content: center; display: flex; align-items: center;"
        *ngIf="listaPublicaciones.length == 0 ">
        <p class="text-center fs-4">No se ha encontrado publicaciones.</p>
    </div>

</div>

<!-- modal para preguntas -->
<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header" style="width: 100%;">
                <h5 class="modal-title">Pregunta para la comunidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="width: 100%;">

                <div class="row g-3 mb-2">

                    <div class="col-md-5">
                        <form class="" [formGroup]="newPublicationForm" (ngSubmit)="postPublicacion()">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label for="pregunta" class="form-label">Título</label>
                                    <input type="text" class="form-control" id="pregunta" name="titulo"
                                        formControlName="titulo"
                                        [ngClass]="newPublicationForm.controls['titulo'].invalid && (newPublicationForm.controls['titulo'].dirty 
                                        || newPublicationForm.controls['titulo'].touched) ? 'border border-danger' : ''">
                                        <!-- Errores ingreso de datos -->
                                    <div *ngIf="newPublicationForm.controls['titulo'].invalid && 
                                    (newPublicationForm.controls['titulo'].dirty || 
                                    newPublicationForm.controls['titulo'].touched)">
                                        <small *ngIf="newPublicationForm.controls['titulo'].errors?.required"
                                            class="fs-7 text-danger p-0 m-0">
                                            Dato requerido
                                        </small>
                                        <small *ngIf="newPublicationForm.controls['titulo'].errors?.minlength"
                                            class="fs-7 text-danger p-0 m-0">
                                            Mínimo 10 caracteres
                                        </small>
                                        <small *ngIf="newPublicationForm.controls['titulo'].errors?.maxlength"
                                            class="fs-7 text-danger p-0 m-0">
                                            Máximo 255 caracteres
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <!-- <input type="text" class="form-control" id="descripcion"
                                        formControlName="descripcion"> -->
                                    <textarea class="form-control" rows="3" name="descripcion" name="descripcion"
                                        formControlName="descripcion" [ngClass]="newPublicationForm.controls['descripcion'].invalid && (newPublicationForm.controls['descripcion'].dirty 
                                        || newPublicationForm.controls['descripcion'].touched) ? 'border border-danger' : ''"></textarea>
                                        <!-- Errores ingreso de datos -->
                                    <div *ngIf="newPublicationForm.controls['descripcion'].invalid && 
                                    (newPublicationForm.controls['descripcion'].dirty || 
                                    newPublicationForm.controls['descripcion'].touched)">
                                        <small *ngIf="newPublicationForm.controls['descripcion'].errors?.required"
                                            class="fs-7 text-danger p-0 m-0">
                                            Dato requerido
                                        </small>
                                        <small *ngIf="newPublicationForm.controls['descripcion'].errors?.minlength"
                                            class="fs-7 text-danger p-0 m-0">
                                            Mínimo 10 caracteres
                                        </small>
                                        <small *ngIf="newPublicationForm.controls['descripcion'].errors?.maxlength"
                                            class="fs-7 text-danger p-0 m-0">
                                            Máximo 500 caracteres
                                        </small>
                                    </div>
                                </div>

                                <!-- dropdowlist -->
                                <div class="col-md-12 mb-2">
                                    <label for="descripcion" class="form-label">Especialidad/Área</label>
                                    <select class="custom-select" aria-label="Area" formControlName="area" 
                                    [ngClass]="newPublicationForm.controls['area'].invalid && (newPublicationForm.controls['area'].dirty 
                                        || newPublicationForm.controls['area'].touched) ? 'border border-danger' : ''">
                                        <option selected value="">Seleccionar la especialidad o área</option>
                                        <option [value]="especialidad.id"
                                            *ngFor="let especialidad of listaEspecialidades">
                                            {{especialidad.nombre}}</option>
                                    </select>
                                    <!-- Errores ingreso de datos -->
                                    <div *ngIf="newPublicationForm.controls['area'].invalid && 
                                    (newPublicationForm.controls['area'].dirty || 
                                    newPublicationForm.controls['area'].touched)">
                                        <small *ngIf="newPublicationForm.controls['area'].errors?.required"
                                            class="fs-7 text-danger p-0 m-0">
                                            Seleccione una opción
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="!newPublicationForm.valid || ec_postPublicacion=='P'">
                                        <span *ngIf="ec_postPublicacion!='C'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Publicar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-7 border">

                        <div class="card p-2 border-0">

                            <div class="card-header bg-primary border-rounded text-white">
                                Recursos Adjuntos
                            </div>
                            <form class=""
                                [formGroup]="tipo_aporte == 'file' ? addFile : tipo_aporte == 'code' ? addCode : tipo_aporte == 'URL' ? addURL : addCode "
                                (ngSubmit)="AddResource()">
                                <select class="custom-select border-primary" aria-label="Tipo"
                                    (change)="tipoRecursoChange($event)">
                                    <option selected value="">Seleccionar tipo de recurso</option>
                                    <option [value]="'file'">Archivo</option>
                                    <option [value]="'code'">Codigo</option>
                                    <option [value]="'URL'">URL</option>
                                </select>


                                <div *ngIf="tipo_aporte != ''">
                                    <div class="form-group mb-3">
                                        <label for="desc_adjuntos" class="form-label">Encabezado</label>
                                        <!-- <input type="text" name="desc_adjuntos" class="form-control" id="desc_adjuntos"> -->
                                        <textarea class="form-control" name="desc_adjuntos" rows="2"
                                            formControlName="encabezado"
                                            style="resize: none; white-space: pre;"></textarea>
                                    </div>

                                    <div class="mb-3 text-center" *ngIf="tipo_aporte == 'file'">
                                        <label for="formFileMultiple"
                                            class="form-label text-success">Seleccionar..</label>
                                        <input class="form-control d-none" type="file" id="formFileMultiple" name="file"
                                            formControlName="file" (change)="onChangeFile($event)">
                                        <br>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="label-input" disabled
                                                value="{{ archivo_seleccionado }}">
                                            <button class="btn btn-outline-primary" type="submit" id="btnAddFile"
                                                [disabled]="!addFile.valid">Añadir</button>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3" *ngIf="tipo_aporte == 'URL'">
                                        <input type="text" class="form-control" id="inputURL" placeholder="URL"
                                            formControlName="link">
                                        <button class="btn btn-outline-primary" type="submit" id="btnAddURL"
                                            [disabled]="!addURL.valid">Añadir</button>
                                    </div>


                                    <div class="input-group mb-3" *ngIf="tipo_aporte == 'code'">
                                        <!-- <label for="desc_adjuntos" class="form-label">Código</label> -->
                                        <!-- <input type="text" name="desc_adjuntos" class="form-control" id="desc_adjuntos"> -->
                                        <textarea class="form-control" rows="5" placeholder="Código"
                                            style="overflow: auto;" formControlName="code"
                                            (ngModelChange)="onChangeCode($event)">
                                        </textarea>
                                        <button class="btn btn-outline-primary" [disabled]="!addCode.valid"
                                            type="submit" id="btnAddCode">Añadir</button>
                                    </div>
                                    <div *ngIf="tipo_aporte == 'code'">
                                        <h6>Vista previa - Código</h6>
                                        <pre class="m-0 border">
                                            <code [highlight]="oc_value" (highlighted)="onHighlight($event)"></code>
                                        </pre>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <caption>Lista de recursos adjuntos</caption>
                        <thead>
                            <tr>
                                <th class="col-md-1" scope="col">N°</th>
                                <th class="col-md-2" scope="col">Tipo</th>
                                <th class="col-md-7" scope="col">Contenido</th>
                                <th class="col-md-2" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listaAdjuntos; let i = index">
                                <th scope="row">1</th>
                                <td>{{ item.tipo }}</td>
                                <td>{{ item.contenido }}</td>
                                <td><button class="btn btn-danger" type="button"
                                        (click)="EliminarAdjunto(i)">Eliminar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <!-- <form class="row g-3" [formGroup]="postDataForm" (ngSubmit)="postPublicacion()">
                    <div class="col-md-12">
                        <label for="pregunta" class="form-label">Título</label>
                        <input type="text" class="form-control" id="pregunta" formControlName="titulo">
                    </div>

                    <div class="col-md-12">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                    </div>

                    <select class="form-select" aria-label="Area" formControlName="area">
                        <option value="">Seleccionar la especialidad o área</option>
                        <option [value]="especialidad.id" *ngFor="let especialidad of listaEspecialidades">
                            {{especialidad.nombre}}</option>
                    </select>


                    <div class="card">

                        <div class="form-group m-0">
                            <label for="desc_adjuntos" class="form-label">Descripción</label>
                            <input type="text" name="desc_adjuntos" class="form-control" id="desc_adjuntos">
                        </div>


                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Agrega archivos adjuntos</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>

                        <label for="formFile" class="form-label"></label>
                        <input class="form-control" type="file" id="formFile">
                    </div>


                </form> -->
            </div>
            <!-- <div class="modal-footer"> -->
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
            <!-- <button type="submit" class="btn btn-primary" [disabled]="!postDataForm.valid">Publicar</button> -->
            <!-- </div> -->

        </div>
    </div>
</div>