<div class="content">

    <h4 class="text-center">Perfil de usuario</h4>

    <!-- <div class="d-flex justify-content-center p-2 m-2"> -->
        <div class="mx-auto" style="width:fit-content">
            
                <div style="width: 100px; height: 100px; overflow: hidden;" class="rounded-circle">
                    <img src="{{ rutaImgProfile }}/profile/{{ user.foto }}" class="card-img-top" alt="...">
                </div>
                <!-- <img src="{{ rutaImgProfile }}/profile/{{ user.foto }}"
                        class="card-img-top rounded-circle" alt="..."> -->
          </div>

        <div class="mx-auto" style="width:fit-content">
            <form [formGroup]="updatePhotoUserForm" class="row g-3" (ngSubmit)="updatePhotoUsers()">
                <div class="row pt-2">
                    <div class="col-12 p-2">
                        <div class="w-100 mx-auto text-center">
                            <label for="formFile" class="form-label btn btn-outline-success m-1 p-1">Seleccionar Imagen..</label>
                            <input class="form-control" class="d-none" accept="image/png, .jpge, .jpg"
                                (change)="onChangeFile($event)" #file formControlName="file" type="file" id="formFile">
                            <!-- <button type="submit" [disabled]="!updatePhotoUser.valid"
                                class="btn btn-primary">Guardar</button> -->
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <!-- <div class="w-100 mx-auto"> -->
                        
                            <div class="rounded-circle d-inline" style="width: 50px; height: 50px; overflow: hidden;">
                                <img *ngIf="archivo_seleccionado" src="{{archivo_seleccionado}}" alt="..."
                                    style="width: 50px; height: auto;" class="card-img-top">
                            </div>
                       

                        <div class="d-inline">
                            <span class="text-success">{{ file_name }}</span>
                        </div>

                    </div>
                    <div class="col-12 p-2">
                        <div class="col-12 text-center">
                            <button type="submit" [disabled]="!updatePhotoUserForm.valid"
                                class="btn btn-primary">Guardar</button>
                            <!-- <button type="submit" class="btn btn-primary" (click)="show()">Guardar2</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- <div class="w-100">
            <div class="row">

                <div class="col-auto"></div>
                <div class="col-md-3 mx-auto">
                    <div style="width: 100px; height: 100px; overflow: hidden;" class="rounded-circle">
                        <img src="{{ rutaImgProfile }}/profile/{{ user.foto }}" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>

            <form [formGroup]="updatePhotoUserForm" class="row g-3" (ngSubmit)="updatePhotoUsers()">
                <div class="row pt-2">
                    <div class="col-12 p-2">
                        <div class="w-100 mx-auto text-center">
                            <label for="formFile" class="form-label btn btn-outline-success m-1 p-1">Seleccionar Imagen..</label>
                            <input class="form-control" class="d-none" accept="image/png, .jpge, .jpg"
                                (change)="onChangeFile($event)" #file formControlName="file" type="file" id="formFile">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        
                            <div class="rounded-circle d-inline" style="width: 50px; height: 50px; overflow: hidden;">
                                <img *ngIf="archivo_seleccionado" src="{{archivo_seleccionado}}" alt="..."
                                    style="width: 50px; height: auto;" class="card-img-top">
                            </div>
                       

                        <div class="d-inline">
                            <span class="text-success">{{ file_name }}</span>
                        </div>

                    </div>
                    <div class="col-12 p-2">
                        <div class="col-12 text-center">
                            <button type="submit" [disabled]="!updatePhotoUserForm.valid"
                                class="btn btn-primary">Guardar</button>
                            
                        </div>
                    </div>
                </div>
            </form>



        </div> -->
    <!-- </div> -->




    <div class="card">
        <div class="card-header bg-primary">
            <h5 class="text-light">Datos Personales</h5>
        </div>
        <div class="card-body">

            <div class="row g-3">

                <div class="col">
                    <form [formGroup]="updateDataForm" class="row g-3" (ngSubmit)="updateDataUser()">
                        <!-- <form class="row g-3"> -->

                        <div class="col-md-4">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" name="nombre" formControlName="nombre" class="form-control" autofocus
                                id="nombre">
                        </div>
                        <div class="col-md-4">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" name="apellido" formControlName="apellido" class="form-control"
                                id="apellido">
                        </div>
                        <div class="col-md-4">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" name="telefono" formControlName="telefono" class="form-control"
                                id="telefono">
                        </div>
                        <div class="col-md-6">
                            <label for="direccion" class="form-label">Dirección</label>
                            <input type="text" name="direccion" formControlName="direccion" class="form-control"
                                id="direccion" placeholder="Ciudad, calles..">
                        </div>
                        <div class="col-md-6">
                            <label for="correo_reg" class="form-label">Correo electrónico</label>
                            <input type="email" name="correo_reg" formControlName="correo" class="form-control"
                                id="correo_reg">
                        </div>
                        <div class="col-12">
                            <label for="perfil_prof" class="form-label">Perfil Profesional</label>
                            <textarea class="form-control" name="perfil_prof" formControlName="perfil_prof"
                                id="perfil_prof" rows="3"
                                placeholder="Describa el nivel y área de estudio en el que se especializa"></textarea>
                        </div>



                        <div class="col-12 text-center">
                            <button type="submit" [disabled]="!updateDataForm.valid"
                                class="btn btn-primary">Guardar</button>
                            <!-- <button type="submit" class="btn btn-primary" (click)="show()">Guardar2</button> -->
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div class="card mt-2">
        <div class="card-header bg-primary">
            <h5 class="text-light">Áreas en las que se especializa</h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div *ngFor="let m_especialidad of listaEspecialidadesUsuario">
                        <div class="border rounded-pill p-2 d-inline-block" style="width: fit-content;">
                            {{ m_especialidad.nombre }}
                            <button class="border-0 rounded-circle"
                                (click)="deleteEspeciallityUser(m_especialidad.id)">X</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="text-center text-wrapper">Escoja las áreas en las que es especialista</h6>
                    <div class="list-group border"
                        style="max-height: 300px; overflow:scroll; -webkit-overflow-scrolling: touch;">
                        <div *ngFor="let especialidad of listaEspecialidades">
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="postEspeciallityUser(especialidad.id)">{{ especialidad.nombre
                                }}</button>
                            <!-- <button type="button" class="list-group-item list-group-item-action">Area 2</button> -->

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>