
<h3 class="text-center">Reuniones de Usuario</h3>
<p class="fw-normal">Solicite a la comunidad tener una reunion para aclarar dudas y tener clases personalizadas de lo que necesites.</p>

<div class="row ps-2 pe-2">
    <div class="col-md-4">
        <div class="card border-primary border-3">

            <img src="https://image.shutterstock.com/image-vector/anonymous-man-question-mark-male-260nw-1390079279.jpg"
                class="rounded-circle mx-auto d-block border" width="200px" height="200px" alt="...">

            <div class="card-body">
                <h5 class="card-title">Título</h5>
                <p class="text-justify"> Descripción </p>
                <b> Fecha:</b> 01/01/2000
                <br>
                <b>Estado: </b> Pendiente
                <br>
                <b>Aceptado por:</b> ninguno
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-success border-3">

            <img src="https://media.istockphoto.com/photos/portrait-of-young-smiling-caucasian-man-with-crossed-arms-wearing-picture-id1171169107?k=20&m=1171169107&s=612x612&w=0&h=VkbOnU3zWYCbh3ojzqWFhK7JObxQduGzr4bRxqbgkLU="
                class="rounded-circle mx-auto d-block border" width="200px" height="200px" alt="...">

            <div class="card-body">
                <h5 class="card-title">Título 2</h5>
                <p class="text-justify"> Descripción 2</p>
                <b> Fecha:</b> 01/01/2021
                <br>
                <b>Estado: </b> Aceptado
                <br>
                <b>Aceptado por:</b> Usuario 2
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card border-danger border-3">

            <img src="https://image.shutterstock.com/image-vector/anonymous-man-question-mark-male-260nw-1390079279.jpg"
                class="rounded-circle mx-auto d-block border" width="200px" height="200px" alt="...">

            <div class="card-body">
                <h5 class="card-title">Título</h5>
                <p class="text-justify"> Descripción </p>
                <b> Fecha:</b> 01/01/2000
                <br>
                <b>Estado: </b> Cancelado
                <br>
                <b>Aceptado por:</b> ninguno
            </div>
        </div>
    </div>
</div>