<br>
<div class="container">
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Acerca de</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> Plataforma colaborativa supervisada con fines académicos </h5>
                        <div class="card-text text-justify">
                            Está dedicada a brindar una herramienta de refuerzo académico a estudiantes de las carreras de
                            Tecnologías de la Información y Software u otra carrera afines de estas. La plataforma cuenta con
                            funciones para que estudiantes realicen preguntas a la comunidad, tengan reuniones entre dos
                            usuarios en específico y compartir archivos que pueden ser de interés común, cada uno de los aportes
                            de la comunidad cuenta con calificaciones bidireccionales que ayudan a los usuarios a tener una
                            visión más clara de la calidad de dichos aportes. Además la plataforma distingue entre usuarios de
                            tipo Colaborador o Especialista que supervisan los contenidos agregados dentro de las publicaciones.
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="card p-2">
                    <h4 class="text-center m-2">Autor</h4>
                    <div class="mx-auto" style="width:fit-content m-2">

                        <div style="width: 100px; height: 100px; overflow: hidden;" class="rounded-circle">
                            <img src="{{ rutaImg+'/app/imgs/autor.png' }}" class="card-img-top" alt="...">
                        </div>
                        <!-- <img src="{{ rutaImgProfile }}/profile/{{ user.foto }}"
                                        class="card-img-top rounded-circle" alt="..."> -->
                    </div>

                    <br>
                    <h5 class="font-weight-normal text-center mb-2">
                        Javier López
                    </h5>
                    <!-- <h5 class="font-weight-light text-center mb-2 text-secondary">
                        javierkj215@gmail.com
                    </h5> -->
                </div>
            </div>
        </div>
    </div>