<div class="container">

    <div class="d-flex justify-content-center p-2 m-2">
        <div class="w-75">
            <h3 class="text-center">Recuperar contraseña</h3>
            <div class="card-body">

                <div class="text-center">
                    <img src="{{rutaImg+'/app/imgs/recover.png'}}" class="img-fluid" alt="recover">
                </div>
                <p class="fw-normal text-justify">Formulario para recuperar contraseña de usuario. Ingrese el correo del
                    usuario del que desea recuperar la contraseña, recuerde que el correo debe estar registrado en la
                    plataforma.</p>

                <form [formGroup]="passRecoveryForm" (ngSubmit)="recuperarContrasena()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Correo electrónico"
                            aria-label="Recipient's username" formControlName="correo">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Recuperar contraseña</button>
                    </div>
                </form>


                <p class="fw-light text-info">Si el correo ingresado es correcto recibirá un mensaje con el link de
                    recuperación
                </p>
            </div>
        </div>
    </div>
</div>


