<div *ngIf="!logged">
  <nav class="navbar navbar-expand-lg bg-light text-primary border">
    <a class="navbar-brand" href="">Menú</a>
    <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-primary" style="color:black">
        <i class="bi bi-list"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
      </ul>

      <!-- <div class="navbar-collapse collapse"> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link  border border-primary rounded p-2 me-2" routerLinkActive="active" routerLink="/login">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-primary rounded p-2 me-2" routerLink="/register" routerLinkActive="active">Registro</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> 
            <img src="../assets/images/images-pages/login.png" alt="perfil" width="30" height="30" class="rounded-circle">
            Nombre
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Seguridad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Salir</a>
          </div>
        </li> -->
      </ul>
    <!-- </div> -->
    </div>

    
  </nav>
</div>


<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border rounded" *ngIf="logged">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100" >
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-primary text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" style="width: 100%;" id="menu">
          <li class="nav-item" style="width: 100%;">
            <a routerLink="/app" class="nav-link align-middle px-0" routerLinkActive="active">
              <i class="fs-4 bi-house ps-2"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
            </a>
          </li>
          <li class="nav-item" style="width: 100%;">
            <a routerLink="/activities" class="nav-link align-middle px-0" routerLinkActive="active">
              <i class="fs-4 bi-speedometer2 ps-2"></i> <span class="ms-1 d-none d-sm-inline">Actividad</span>
            </a>
          </li>

          <!-- <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Actividad</span>
            </a>
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Reuniones</span> 1 </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item" style="width: 100%;">
            <a routerLink="/meetings" routerLinkActive="active" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table ps-2"></i> <span class="ms-1 d-none d-sm-inline">Reuniones</span></a>
          </li>
          <!-- <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li> -->
          <!-- <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item" style="width: 100%;">
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people ps-2"></i> <span class="ms-1 d-none d-sm-inline">Comunidad</span> </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/images/images-users/{{ user.foto }}" alt="perfil" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1 text-primary">{{ user.nombre }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small text-primary" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item text-primary" routerLink="/profile">Perfil</a></li>
            <li><a class="dropdown-item text-primary" href="#">Seguridad</a></li>
            <!-- <li><a class="dropdown-item text-primary" href="#">Profile</a></li> -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-primary" (click)="logout()">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>