<!-- <div class="content"> -->
<!-- <div class="d-flex justify-content-center p-2 m-2"> -->

<!-- <div class="w-100"> -->

<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-primary"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="bg-primary"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="bg-primary"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./../../../assets/images/images-carousel/community.jpg" class="d-block w-100 border border-2 rounded"
        alt="Community">
      <div class="carousel-caption d-none d-md-block" style="background-color: #49a3d881;">
        <h3>Envía tus peticiones a la comunidad </h3>
        <p class="fs-5">Si tienes dudas puedes pedir ayuda a la comunidad.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../../assets/images/images-carousel/resources.jpg" class="d-block w-100 border border-2 rounded"
        alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: #49a3d881;">
        <h3>imagenes, videos u otro contenido</h3>
        <p class="fs-5">Comparte contenidos que puedan ser de interes para la comunidad.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../../assets/images/images-carousel/contact.jpg" class="d-block w-100 border-2 rounded" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: #49a3d881;">
        <h3>Contacta con expertos</h3>
        <p class="fs-5">Si lo requieres puedes contactar con expertos para que te ayuden.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon border rounded p-2 m-2 bg-primary" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon border rounded p-2 m-2 bg-primary" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div> -->

<!-- <div class="card bg-light">
  <img class="card-img" src="{{rutaImg+'/app/imgs/home.png'}}" alt="Card image">
  <div class="card-img-overlay mr-2">
    <div class="text-center mr-1" style="opacity: .9; position: relative; height: 100%;">
      <div style="position: absolute; top: 85%; transform: translateY(-50%);"
        class="w-100 bg-primary text-white rounded">
        <h4 class="text-center">Refuerza tus conocimientos junto a la comunidad</h4>
        <h5 class="text-center">Es hora de dejar tus dudas atrás, pide ayuda a la comunidad de expertos y otros
          colaboradores que interactuan contigo para compartir conocimientos.</h5>
      </div>
    </div> -->
<!-- </div> -->

<img class="card-img-top" src="{{ rutaImg }}/app/imgs/home.png" alt="...">

<div class="border border-primary border-2 p-2">
  <h5 class="text-center">Refuerza tus conocimientos junto a la comunidad.</h5>
  <p class="text-justify">Es hora de dejar tus dudas atrás, pide ayuda a la comunidad de expertos y otros aprendices que
    colaboran contigo para adquirir nuevos conocimientos.</p>
</div>


<!-- <div style="position: relative; background-color: aliceblue; height: fit-content;"></div> -->
<!-- <h5 class="card-title">Refuerza tus conocimientos junto a la comunidad.</h5>-->
<!-- <p class="card-text">Es hora de dejar tus dudas atrás, pide ayuda a la comunidad de expertos y otros aprendices que
      colaboran contigo para adquirir nuevos conocimientos.</p> -->
<!-- <span class="align-middle text-danger text-center" style="height: fit-content;">middle</span>  -->
<!-- <p class="card-text">Last updated 3 mins ago</p> -->

<!-- <h5 class="text-center">Refuerza tus conocimientos junto a la comunidad.</h5> -->

<!-- <div style="position: absolute; top: 50%; opacity: .5; width: fit-content;" class="text-white bg-primary">
      <h5 class="text-center">Refuerza tus conocimientos junto a la comunidad.</h5>
      <p class="card-text text-center">Es hora de dejar tus dudas atrás, pide ayuda a la comunidad de expertos y otros aprendices que
      colaboran contigo para adquirir nuevos conocimientos.</p>
    </div>   -->
<!-- </div>
</div> -->


<!-- <div style="width: fit-content; overflow: hidden;" class="text-center">
  <img class="card-img-top" src="{{ rutaImg }}/app/imgs/home.png" style="min-height: 200px; max-width: 800px; width: fit-content;" alt="...">
</div> -->

<br>

<div class="card mt-2 border-0">
  <div class="card-body">
    <h4 class="text-center">Funciones de la plataforma</h4>
    <div class="container">
      <div class="row text-center">
        <!-- <div class="mx-auto" style="width:fit-content"> -->
        <div class="col-6 col-md-4 col-lg-4 p-0">
          <div class="card w-100 border border-primary pt-2 mt-2">
            <img class="card-img-top" src="{{rutaImg + '/app/imgs/pregunta.png'}}" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center text-primary">Pregunta a la comunidad</h5>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="mx-auto" style="width:fit-content"> -->
        <div class="col-6 col-md-4 col-lg-4 p-0">

          <div class="card w-100 border border-primary pt-2 mt-2">
            <img class="card-img-top" src="{{rutaImg + '/app/imgs/reunion.png'}}" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center text-primary">Solicita reuniones</h5>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="mx-auto" style="width:fit-content"> -->
        <div class="d-lg-none d-xl-none col"></div>
        <div class="col-6 col-md-4 col-lg-4 p-0">

          <div class="card w-100 border border-primary pt-2 mt-2">
            <img class="card-img-top" src="{{rutaImg + '/app/imgs/compartir.png'}}" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center text-primary">Comparte archivos</h5>
            </div>
          </div>
        </div>
        <div class="col col-md-none col-lg-none"></div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<br>

<h4 class="text-center">Guía rápida de uso</h4>
<br>
<div class="card mb-3 border border-primary p-2">
  <div class="row">
    <div class="col-md-5">
      <img src="assets\images\img-funciones\Actividad_ul.jpg" alt=".." class="img-fluid">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Actividad de usuario</h5>
        <p class="card-text">Para visualizar las preguntas que ha realizado a la comunidad se accede a la página de
          de "Actividad".
          De igual manera si desea agregar una nueva pregunta solo hay que dar click en el boton preguntar para que se
          despliegue el formulario de ingreso de datos.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3 border border-2 border-primary p-2">
  <div class="row">

    <div class="col-md-5">
      <img src="assets\images\img-funciones\comunidad_ul.jpg" alt=".." class="img-fluid">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Actividad de la comunidad</h5>
        <p class="card-text">En la página de "Comunidad", un usuario puede visualizar las preguntas que han realizado
          otros
          usuario y las preguntas en las que ha colaborado.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 border border-2 border-primary p-2">
  <div class="row">

    <div class="col-md-5">
      <img src="assets\images\img-funciones\reuniones_ul.jpg" alt=".." class="img-fluid">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Reuniones</h5>
        <p class="card-text">En la página de "Reuniones", un usuario puede visualizar las solicitudes que ha realizado a
          la comunidad y de igual manera puede visualizar las reuniones que la comunidad a solicitado ya sea que esten
          en estado aceptado o en estado pendiente excepto las reuniones de fechas pasadas que no han sido aceptadas.
          De igual manera el usuario puede agregar una nueva solicitud para una reunión dando click en el botón Solicitar.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 border border-2 border-primary p-2">
  <div class="row">

    <div class="col-md-5">
      <img src="assets\images\img-funciones\archivos_ul.jpg" alt=".." class="img-fluid">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Archivos compartidos</h5>
        <p class="card-text">En la página de "Archivos", el usuario puede visualizar los archivos que ha compartido y los archivos que la comunidad ha agregado.
          Ademas, en la página se encuentra el formulario para agregar nuevos archivos.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card align-items-end">
  <h4>Sección 3</h4>
</div>
<br>
<div class="card align-items-center">
  <h4>Sección 4</h4>
</div> -->
<!-- </div>
  </div> 
</div>-->