<div class="card border-primary" *ngIf="publicacion let pub">
    <div class="card-header bg-transparent border-primary">

        <div class="row g-3">

            <div class="col-auto text-center">
                <img src="./../../../assets/images/images-users/{{ publicacion.foto }}" alt="hugenerd" width="50"
                    height="50" class="rounded-circle">
            </div>
            <div class="col">
                <div>
                    <!-- <h4 class="fw-normal fs-6">{{ publicacion.nombre }}</h4> -->
                    <div class="float-sm-start">{{ publicacion.nombre }}</div>
                    <div class="float-sm-end"
                        [ngClass]="publicacion.estado === 'P' ? 'text-info' : (publicacion.estado === 'C' ? 'text-success' : 'text-danger')">
                        {{ publicacion.estado === 'P' ? 'Pendiente' : (publicacion.estado === 'C' ?
                        'Completado' : 'Desconocido') }}</div><br>
                    <p class="fw-light fs-6 text-justify">Ha realizado una nueva publicación de "{{
                        publicacion.especialidad }}"</p>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body p-2">
        <h4 class="fw-normal fs-6">{{ publicacion.titulo }}</h4>
        <h4 class="fw-normal fs-6">{{ publicacion.area }}</h4>
        <h4 class="fw-light fs-6">{{ publicacion.descripcion }}</h4>

        <hr>
        <h6 class="pb-2">Aportes Adicionales</h6>



        <div class="accordion" id="acordeonPanel">
            <div class="accordion-item" *ngFor="let item of listaDetallePublicacion;let indice=index">
                <h2 class="accordion-header" id="panelDetalleHeader">
                    <button class="accordion-button {{ indice == 0 ? '' : 'collapsed' }}" type="button"
                        data-bs-toggle="collapse" attr.data-bs-target="#panelDetalle{{ indice + 1}}"
                        attr.aria-expanded="{{ indice == 0 ? 'true' : 'false' }}"
                        attr.aria-controls="panelDetalle{{ indice + 1}}">
                        {{ item.descripcion }}
                    </button>
                </h2>
                <div id="panelDetalle{{ indice + 1}}"
                    class="accordion-collapse collapse {{ indice == 0 ? 'show' : '' }}"
                    attr.aria-labelledby="panelDetalleHeader{{ indice + 1}}">
                    <div class="accordion-body">

                        <!-- <iframe *ngIf="item.tipo_archivo == '.pdf'" src="http://127.0.0.1:4200/assets/files/{{item.archivo }}"
                            style="width: 100%; height: 300px;" frameborder="0"></iframe> -->
                        <img *ngIf="item.tipo_archivo == '.jpg'" src="./../../../assets/files/{{item.archivo }}" alt="hugenerd"
                            width="50" height="50" class="rounded-circle">

                            <ngx-doc-viewer *ngIf="item.tipo_archivo == '.pdf'"
                            url="http://127.0.0.1:4200/assets/files/{{item.archivo }}" viewer="google"
                            style="width:100%;height:93vh;">
                        </ngx-doc-viewer>
                        <ngx-doc-viewer *ngIf="item.tipo_archivo == '.docx'"
                            url="http://127.0.0.1:4200/assets/files/{{item.archivo }}" viewer="google"
                            style="width:100%;height:93vh;">
                        </ngx-doc-viewer>

                        <iframe *ngIf="item.tipo_archivo == '.txt'" src="http://127.0.0.1:4200/assets/files/ejemplo3.txt"
                            style="width: 100%; height: 300px;" frameborder="0"></iframe>

                            <blockquote >
                                <pre *ngIf="item.tipo_archivo == 'code'" class="prettyprint">
                                  
                                      {{ item.archivo.trim() }}
                                
                                </pre>
                              </blockquote>
                    </div>
                </div>
            </div>



        </div>




        <!-- <div class="row ps-2 pe-2">
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png" width="200px"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-6">Descripción 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-6">Descripción 2</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción 3</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción 4</p>
                    </div>
                </div>
            </div>


            
        </div> -->

        <!-- <a href="./../../../assets/files/ejemplo2.pdf">Source</a> -->

        <!-- <iframe src="http://127.0.0.1:4200/assets/files/ejemplo2.pdf" style="width: 100%; height: 400px;"
            frameborder="0"></iframe> -->

        <!-- <iframe src="http://127.0.0.1:4200/assets/files/ejemplo.docx" style="width: 100%; height: 400px;" frameborder="0"></iframe> -->

        <!-- <iframe width="100%" height="100%" frameBorder="1" src="http://127.0.0.1:4200/assets/files/ejemplo.docx"></iframe> -->
        <!-- <iframe width="100%" height="100%" frameBorder="1"
            src="http://127.0.0.1:4200/assets/files/ejemplo3.txt"></iframe> -->

        <!-- <ngx-doc-viewer [url]="./../../files/ejemplo2.pdf" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer> -->
        <!-- <ngx-doc-viewer url="http://127.0.0.1:4200/assets/files/ejemplo2.pdf" viewer="google"
  style="width:100%;height:93vh;">
</ngx-doc-viewer> -->

        <div class="text-center bg-light p-2 mt-2 border-primary border rounded">
            <button type="button" class="btn btn-outline-primary me-2">Comentar</button>
            <button type="button" class="btn btn-outline-primary me-2">Calificar</button>
        </div>

    </div>

</div>
<br>
<div class="card">
    <h6 class="p-2">Comentarios</h6>
    <div>
        <div class="row g-3 p-2">

            <div class="col-auto text-center">
                <img src="./../../../assets/images/images-pages/login.png" alt="hugenerd" width="50" height="50"
                    class="rounded-circle">
            </div>
            <div class="col">
                <div>
                    <h4 class="fw-normal fs-6">Nombre Usuario</h4>
                    <p class="fw-light fs-6 text-justify">Comentario 1</p>
                </div>
            </div>
        </div>
    </div>
</div>