<div class="card border-primary">
    <div class="card-header bg-transparent border-primary">

        <div class="row g-3">

            <div class="col-auto text-center">
                <img src="./../../../assets/images/images-pages/login.png" alt="hugenerd" width="50" height="50"
                    class="rounded-circle">
            </div>
            <div class="col">
                <div>
                    <h4 class="fw-normal fs-6">Nombre Usuario</h4>
                    <p class="fw-light fs-6 text-justify">Ha realizado un nueva publicación para la comunidad</p>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body p-2">
        <h4 class="fw-normal fs-6">Título</h4>
        <h4 class="fw-light fs-6">Descripción</h4>

        <hr>
        <h6 class="pb-2">Aportes Adicionales</h6>

        <div class="row ps-2 pe-2">
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png" width="200px"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-6">Descripción 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-6">Descripción 2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción 3</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="https://www.openkm.com/resources/images/icon/document-management-big.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción 4</p>
                    </div>
                </div>
            </div>


            
        </div>
        <div class="text-center bg-light p-2 mt-2 border-primary border rounded">
            <button type="button" class="btn btn-outline-primary me-2">Comentar</button> 
            <button type="button" class="btn btn-outline-primary me-2">Calificar</button>
        </div>

    </div>

</div>
<br>
<div class="card">
    <h6 class="p-2">Comentarios</h6>
    <div>
        <div class="row g-3 p-2">

            <div class="col-auto text-center">
                <img src="./../../../assets/images/images-pages/login.png" alt="hugenerd" width="50" height="50"
                    class="rounded-circle">
            </div>
            <div class="col">
                <div>
                    <h4 class="fw-normal fs-6">Nombre Usuario</h4>
                    <p class="fw-light fs-6 text-justify">Comentario 1</p>
                </div>
            </div>
        </div>
    </div>
</div>